*.py ident
* text=auto eol=lf
libhockeydata/versioninfo.py ident
* text eol=lf

# Basic .gitattributes for a python repo.

# Source files
# ============
*.pxd    text diff=python eol=lf
*.py     text diff=python eol=lf
*.py3    text diff=python eol=lf
*.pyw    text diff=python eol=lf
*.pyx    text diff=python eol=lf
*.pyz    text diff=python eol=lf
*.pyi    text diff=python eol=lf

##### Language
# PHP
*.php     text diff=php eol=lf
*.phpt    text diff=php eol=lf
*.phtml   text diff=php eol=lf
*.htm     text diff=html eol=lf
*.html    text diff=html eol=lf
*.xml     text diff=xml eol=lf
*.twig    text eol=lf
.htaccess text eol=lf
.ht       text eol=lf
*.phar    binary

# Binary files
# ============
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary

# Jupyter notebook
*.ipynb  text eol=lf

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).
